[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
wxpython = "==4.0.6"
requests = "*"
xmltodict = "*"
keyring = "*"
pypiwin32 = "*"
pip = "*"

[requires]
python_version = "3.6"
